html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}
header {
  background: #242424 url(images/jb2.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 400px;
}

header a {
  color: #F2B424;
  text-align: center;
  position: relative;
  top: 130px;
  text-shadow: 4px 4px 2px rgba(17, 17, 17, 1);
  font-family: 'Tangerine', cursive;
  font-size: 100px;
  font-weight: bold;
}

h1 {
  color: #F2B424;
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 50px;
}

h2 {
  color: #F2B424;
  font-family: 'Tangerine', cursive;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: #F2B424;
  margin: 10px 0 10px 0;
  font-family: 'Tangerine', cursive;
  font-size: 18px;
  text-align: center;
}

p {
  color: #F2B424;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
}
a {
  color: #F2B424;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
}

body {
  background: #242424 url(background/header.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15px;
  width: 100%;
  padding: 0;
}


nav {
  padding: 10px;
  text-align: center;
  height: 50px;
  opacity: 0.8;
  background: black; 
}
nav ul {
  padding-top: 15px;
}

nav li {
  display: inline;
  padding-right: 90px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  font-size: 20px;
}
nav li:last-child {
  padding-right: 0;
}
nav a {
  color: #F2B424;
  font-family: 'Open Sans Condensed', sans-serif;
}

.content-section {
  width: 900px;
  background: #242424 url(background/blackpattern.png) no-repeat center center fixed;
  margin: 0 auto;
  padding-top: 10px;
  border-radius: 5%;
  margin-top: 70px;
  margin-bottom: 70px;
}
#ytplayer {
  border: 10px solid #EBBE38;
  margin-top: 60px;
  margin-left: 135px;
}
#soundcloud {
  border: 10px solid #EBBE38;
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.indextext {
  margin: 0px 125px;
  text-align: justify;
}
.bridge {
  width: 417px;
  height: 270px;
  background: black url(images/bridge.jpg) center center no-repeat;
  border: 10px solid #EBBE38;
  padding: 4px;
  margin: auto;
}
.about {
  padding: 0 25px;
}
#intro {
  font-size: 18px;
}
.text {
  margin: 30px;
  line-height: 1.5;
  padding: 10px;
}
.text img {
  float: left;
  padding: 20px;

}

.eachalbum img {
  width: 200px;
  height:200px;
  float: left;
  clear: both;
  padding-left: 80px;
  padding-top: 35px;
}
.songlist {
  height:280px;
}
.songlist h2 {
  text-decoration: underline;
}
.songlist li {
  text-align: center;
  color: #F2B424;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  list-style-position:inside;
}
.contact {
  text-align: center;
  margin: 5px 10px;
}
input {
  color: #F2B424;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
}
textarea {
  height: 80px;
  width: 250px;
  border: 5px solid #EBBE38;
}
}
footer {
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
  height: 40px;
  height: 40px;
  opacity: 0.8;
  background: black;
}
footer li {
  display: inline;
  padding-right: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  color: #212120;
}
footer li:last-child {
  padding-right: 0;
}
