html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}
header {
  background: #242424 url(background/blackpattern.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15px;
  text-align: center;
  width: 100%;
}
header img {
  width: 200px;
  height:200px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 30px;
}
header h1 {
  color: #F2B424;
  margin-bottom: 150px;
  text-align: left;
  padding-top: 35px;
  padding-left: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 60px;
  font-weight: bold;
  
}

h1 {
  color: #F2B424;
  margin: 15px 0 15px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
}

h2 {
  color: #F2B424;
  font-family: 'Ubuntu', sans-serif;
  font-size: 26px;
  text-align: center;
}

h3 {
  color: #F2B424;
  margin: 10px 0 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

p {
  color: #F2B424;
  margin: 0 0 10px 0;
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
}
a {
  color: #F2B424;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

body {
  background: #242424 url(background/header.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15px;
  width: 100%;
  padding: 0;
}


nav {
  padding: 10px;
  text-align: center;
  height: 40px;
  opacity: 0.8;
  background: black; 
}
nav li {
  display: inline;
  padding-right: 20px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}
nav li:last-child {
  padding-right: 0;
}
nav a {
  color: #F2B424;
  font-family: 'Ubuntu', sans-serif;
}
.header img {
  margin: 0 auto 15px auto;
  display: block;
}
.bridge {
  width: 417px;
  height: 270px;
  background: black url(images/bridge.jpg) center center no-repeat;
  border: 10px solid #EBBE38;
  padding: 4px;
  margin: auto;
}

.content-section {
  width: 900px;
  background: #242424 url(background/blackpattern.png) no-repeat center center fixed; 
  margin: 0 auto;
  padding-top: 3em;
  border-radius: 5%;
  margin-top: 1em;
  text-align: center;
  margin-bottom: 70px;
}
.about {
  padding: 0 25px;
}
.text {
  margin: 30px;
}

.eachalbum {
display: inline-block;
}

.eachalbum img {
  width: 200px;
  height:200px;
  float: left;
}

.eachalbum h3 p {
  border: 1px yellow dashed;
  margin: 0px 100px;
  padding: 5px 30px;
}



footer {
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
  height: 40px;
  height: 40px;
  opacity: 0.8;
  background: black;
}
footer li {
  display: inline;
  padding-right: 20px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #212120;
}
footer li:last-child {
  padding-right: 0;
}
